<!-- Welcome Section -->
<section id="gtco-welcome" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2" style='background-image: url({{ "img/despre-noi.jpg" | absURL }});'>
                </div>
                <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                        <span class="subheading">
                            Despre Noi
                        </span>
                        <h2>
                            Bun venit la {{.Site.Title}}
                        </h2>
                    </div>
                    <div class="pl-lg-5 ml-md-5">
                        <p>
                            Senna este un loc al curajului, al explorarii, al libertatii si al puritatii. Intocmai calului al carui nume il poarta. Senna J este un cal frizian, negru ca pana corbului, crescut langa Bran, la poalele Bucegilor.
                        </p>
                        <p>
                            Si din dragostea pe care stapana i-o poarta, Alexandra a numit restaurantul Senna. Pentru ca aici libertatea, bucuria si explorarea gusturilor si a preparatelor se imbina armonios cu relaxarea si caldura unei convivialitati puternice, dar si calde sau domoale, in compania prietenilor dragi, intocmai unui galop pur, liber si sincer, in care te bucuri de sinceritatea amintirilor si de experientele ce ti se astern in fata.
                        </p>
                        <p>
                            Un cal pur sange se ingrijeste si se pretuieste. Aceeasi grija o purtam si noi pentru preparatele noastre, pentru detalii, atmosfera si experientele la care dorim sa te avem partas.
                        </p>
                        <h3 class="mt-5">Specialitatea Casei</h3>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h5>TON IN CRUSTA DE SUSAN NEGRU (450GR.)</h5>
                </div>
                <div class="col-4">
                    <h5 class="text-muted menu-price">50 LEI</h5>
                </div>
            </div>
            <p> - piure de broccoli</p>
            <p class="text-muted">250gr. / 200gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h5>FETINA DI FILETTO (400GR.)</h5>
                </div>
                <div class="col-4">
                    <h5 class="text-muted menu-price">55 LEI</h5>
                </div>
            </div>
            <p> - muschi de vita, sparanghel, salata valeriana, sos cimiciuri</p>
            <p class="text-muted">200gr. / 100gr. / 30gr. / 70gr.</p>
        </div>
    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Welcome Section -->