<footer id="gtco-reservation" class="mastfoot pb-5 bg-white section-padding pb-0">
	<div class="inner container">
		<div class="row">
			<div class="col-lg-4">
				<div class="footer-widget pr-lg-5 pr-0">
					<img src="{{ .Site.Params.logo | absURL }}" class="img-fluid footer-logo mb-3" alt="">
					<p>{{ .Site.Params.footerText | safeHTML}}</p>
					<nav class="nav nav-mastfoot justify-content-start">
						<a class="nav-link" target="_blank" href="{{.Site.Params.facebook}}">
							<i class="fab fa-facebook-f"></i>
						</a>
						<!-- 		                <a class="nav-link" href="{{.Site.Params.twitter}}">
		                	<i class="fab fa-twitter"></i>
		                </a>
		                <a class="nav-link" href="{{.Site.Params.instagram}}">
		                	<i class="fab fa-instagram"></i>
		                </a> -->
					</nav>
				</div>

			</div>
			<div class="col-lg-4">
				<div class="footer-widget px-lg-5 px-0">
					<h4>Program</h4>
					<ul class="list-unstyled open-hours">
						<li class="d-flex justify-content-between"><span>Luni</span><span>12.00 - 22.00</span></li>
						<li class="d-flex justify-content-between"><span>Marti</span><span>12.00 - 22.00</span></li>
						<li class="d-flex justify-content-between"><span>Miercuri</span><span>12.00 - 22.00</span></li>
						<li class="d-flex justify-content-between"><span>Joi</span><span>12.00 - 22.00</span></li>
						<li class="d-flex justify-content-between"><span>Vineri</span><span>12.00 - 22.00</span></li>
						<li class="d-flex justify-content-between"><span>Sambata</span><span>12.00 - 22.00</span></li>
						<li class="d-flex justify-content-between"><span>Duminica</span><span>12.00 - 22.00</span></li>
					</ul>
				</div>

			</div>

			<div class="col-lg-4">
				<div class="footer-widget pl-lg-5 pl-0">
					<h4>Contact</h4>
					<p><a href="https://goo.gl/maps/tUrzcG9X6UAb47En8" target="_blankn">Bulevardul Nicolae Caramfil, nr 33</a></p>
					<p><a href="tel:0212333738">021.233.37.38</a> | <a href="tel:0756199774">0756.199.774</a></p>
					<p><a href="mailto:contact@lasenna.ro">contact@lasenna.ro</a></p>

				</div>

			</div>
			<div class="col-md-12 d-flex align-items-center">
				<p class="mx-auto text-center mb-0"><span class="subheading">&copy SC SBM Advertising Servicii SRL</span> | <i class="subheading fas fa-code"></i>&nbsp;with&nbsp;<i class="subheading fas fa-heart"></i>&nbsp;by&nbsp;<a target="_blank" href="https://alesc.dev">alesc.dev</a></p>
			</div>

		</div>
	</div>
</footer>
</div>
</div>
<!-- External JS -->
<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/moment.min.js" | absURL }}"></script>
<script src="{{ "vendor/bootstrap/popper.min.js" | absURL }}"></script>
<script src="{{ "vendor/bootstrap/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "vendor/select2/select2.min.js" | absURL}}"></script>
<script src="{{ "vendor/owlcarousel/owl.carousel.min.js" | absURL}}"></script>
<script src="{{ "js/featherlight.min.js" | absURL}}"></script>
<script src="{{ "vendor/stellar/jquery.stellar.js" | absURL}}" type="text/javascript" charset="utf-8"></script>
<script src="{{ "js/tempusdominus-bootstrap-4.min.js" | absURL}}"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
{{if .IsHome }}
<!--Main JS -->
<script src="{{ "js/app.min.js"  | absURL}}"></script>
{{end}}
<!--Google Analytics-->
{{ if .Site.Params.enableGA }}
{{ template "_internal/google_analytics.html" . }}
{{end}}
