<!-- Menu Section -->
<section id="gtco-menu" class="section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="heading-section text-center">
                        <h2>
                            Meniu
                        </h2>
                    </div>
                </div>
            </div>
            <div class="testi-content testi-carousel owl-carousel">
                {{ partial "meniu/antreuri.html" . }}
                <!-- {{ partial "meniu/ciorbe.html" . }}
                {{ partial "meniu/paste.html" . }}
                {{ partial "meniu/vegetariene.html" . }}
                {{ partial "meniu/peste.html" . }}
                {{ partial "meniu/porc.html" . }}
                {{ partial "meniu/pasare.html" . }}
                {{ partial "meniu/vita.html" . }}
                {{ partial "meniu/oaie.html" . }}
                {{ partial "meniu/garnituri.html" . }}
                {{ partial "meniu/deserturi.html" . }}
                {{ partial "meniu/bauturi.html" . }}
                -->
            </div>
        </div>
    </div>
</section>
<!-- End of menu Section -->