<!-- Reservation Section -->
<section id="gtco-reservation" class="bg-fixed bg-white section-padding overlay"
    style='background-image: url({{ "img/reservation-bg.jpg" | absURL }});'>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-content bg-white p-5 shadow">
                    <div class="heading-section text-center">
                        <span class="subheading">
                            Ai o intrebare?
                        </span>
                        <h2>
                            Contacteaza-ne
                        </h2>
                    </div>
                    <form method="post" netlify name="contact-us" id="contact-us" action="">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Nume">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                                    placeholder="Telefon (necesar pentru confirmare)">
                            </div>

                            <div class="col-md-12 form-group">
                                <textarea class="form-control" id="message" name="message" rows="6"
                                    placeholder="Trimite-ne un mesaj sau o comanda aici!"></textarea>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary btn-shadow btn-lg" type="submit"
                                    name="submit">Trimite</button>
                            </div>
                            <div class="col-md-12 mt-2 text-center">
                                <p><b>Un angajat te va contacta pentru confirmarea comenzii.</b></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
