<!-- Testimonial Section-->
<section id="gtco-testimonial" class="bg-fixed bg-white section-padding overlay" style='background-image: url({{ "img/testi-bg.jpg" | absURL }});'>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-content bg-white p-5 shadow">
                    <div class="heading-section text-center">
                        <h2 class="subheading">
                            Specialitatea Bucatarului
                        </h2>
                        <p class="text-dark h5">
                            Bucatarul nostru are un secret. Cateodata se indragosteste de cate un preparat. Si atunci il transforma, il studiaza si il desavarseste, creand o experienta unica.
                        </p>
                        <p class="text-dark h5">
                            Incearca specialitatile bucatarului pentru o experienta diferita si personala, de care sa iti aduci aminte.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Testimonial Section-->