<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Antreuri</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PLATOU TRADITONAL ROMANESC (1450GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">95 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- telemea 100gr., branza de burduf 100gr., sunculita taraneasca 100gr.,pastrama berbecut 100gr., carnati plescoi 100gr., mici 150gr., tocanita picanta de berbecut 150gr., frigarui de pui 200gr., cartofi prajiti 150gr., cartofi la senna 150gr., ceapa rosie 50gr., mustar 50gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PLATOU TRADITIONAL RECE (800GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">65 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- file de porc afumat 50gr., salam de sibiu 50gr., sunculita taraneasca 50gr., telemea de capra 50gr., cascaval 50gr., branza de burduf 50gr., salata de vinete 75gr., fasole batuta 75gr., masline 50gr., castraveti 100gr., rosii 100gr., ceapa rosie 100gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PLATOU MIXGRILL LA SENNA (1000GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">80 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- ceafa 200gr., muschiulet de porc 200gr., piept de pui 200gr., carnati afumati 100gr., mici 160gr., cartofi prajiti 140gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PLATOU BRUSCHETE (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">15 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- rosii, prosciutto, ton, mozzarela</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CU CREVETI (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">30 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- mix de salata, ardei gras, rosii cherry, creveti, sos stridii, dressing philadelfia, lamaie</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA LA SENNA (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">25 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- mix de salata, prosciuto crudo, branza de capra, rosii cherry, crutoane aromatice, dressing de lamaie si ulei de masline</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CU SOMON FUME (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">24 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- mix de salata, somon fume, capere, rosii cherry, ceapa rosie, dressing de lamaie si ulei de masline, crutoane aromatice</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CU PIEPT DE CURCAN (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">24 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- mix de salata, morcov, telina, ardei gras rosu, sos de mustar, piept de curcan, crutoane aromatice, dressing de lamaie si ulei de masline</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CU MUSCHI DE VITA SI SOS GORGONZOLA (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">30 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- mix de salata, sos gorgonzola, muschi de vita, cartofi prajiti, crutoane aromatice, dressing de lamaie si ulei de masline</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CESAR (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">24 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- mix de salata, piept de pui la gratar, anchoa, dressing de maioneza,parmezan si usturoi, crutoane aromatice, dressing de lamaie si ulei de masline</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA GRECEASCA (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">24 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- mix de salata, castraveti, rosii, ardei gras, branza feta, masline, crutoane aromatice, dressing de lamaie si ulei de masline</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CU MOZZARELA (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">24 LEI</h4>
                </div>
            </div>
            <p class="text-muted">- mix salata, sparanghel, rosii cherry, mozzarela, dressing philadelfia</p>
        </div>
    </div>
</div>