<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Starter</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PLATOU LA SENNA (3100GR.) - 4 PERSOANE</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">249 LEI</h4>
                </div>
            </div>
            <p>coasta de porc marinata, pastrama, puisor, plescoi, carnati porc la barda, mici pitusti, ceafa, cartofi bunica, cartofi prajiti, muraturi, mustar, mujdei cu smantana</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>BURATA CU SALATA DE RUCOLA SI DULCEATA DE ROSII CHERRY (350GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">45 LEI</h4>
                </div>
            </div>
            <p>burata, rucolla, rosii cherry, ulei masline, busuioc, miere</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MOZZARELLA DI BUFALA CU PROSCIUTTO CRUDO SI MIX DE SALATA (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">45 LEI</h4>
                </div>
            </div>
            <p>mozzarella bufala, parmezan, prosciutto crudo, mix de salata verde, ulei de masline, rosii cherry</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MOZZARELLA FRITA (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">45 LEI</h4>
                </div>
            </div>
            <p>mozzarella di bufala, pezmet panko, prosciutto crudo, rosii, busuioc, rucola, ulei de masline apio</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>TARTAR DE TON CU YUZU JUICE (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">45 LEI</h4>
                </div>
            </div>
            <p>ton rosu, avocado, susan, ulei de masline, chivas, yuzu juice, salata mixta</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>TARTAR DE SOMON CU FENICUL SI CAVIAR (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">45 LEI</h4>
                </div>
            </div>
            <p>somon proaspat, caviar de somon, ceapa verde, ulei de masline, susan, lamaie, fenel, patrunjel, chivas</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>DUO TARTAR DE TON SI SOMON CU ICRE TOBIKO (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">45 LEI</h4>
                </div>
            </div>
            <p>ton rosu, somon, icre tobiko, avocado, susan, ulei de masline, chivas, yuzu juice, salata mixta</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CREVETI IN SOS DE UNT CU USTUROI SI RODIE (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">45 LEI</h4>
                </div>
            </div>
            <p>creveti, sos rodii, usturoi, patrunjel, ardei iute</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MELAZZANA ALLA PARMEGIANA (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">35 LEI</h4>
                </div>
            </div>
            <p>vinete, sos de rosii, parmezan, mozzarella, busuioc</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>ZUCCHINI PRAJIT CU SOS TZATZIKI (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">25 LEI</h4>
                </div>
            </div>
            <p>dovlecei, sos tzatziki</p>
        </div>
    </div>
	<div class="menus d-flex align-items-center">
		<div class="text-wrap">
			<div class="row align-items-start">
				<div class="col-8">
					<h4>NACHOS CU SOS CEDAR SI CRIPSY BACON (400GR.)</h4>
				</div>
				<div class="col-4">
					<h4 class="text-muted menu-price">30 LEI</h4>
				</div>
			</div>
			<p>include 2 sosuri: sos cedar si sos salsa</p>
		</div>
	</div>
</div>
