<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Bauturi</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">SINGLE MALT (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>GLENFIDDICH (12yo) 40%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">17 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">BLENDED (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CHIVAS REGAL (12yo) 40%</h4>
                    <h4>JOHNNIE WALKER RED LABEL 40%</h4>
                    <h4>J&B 40%</h4>
                    <h4>JACK DANIEL'S 40%</h4>
                    <h4>JOHNNIE WALKER BLACK LABEL 40%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">17 LEI</h4>
                    <h4 class="text-muted menu-price">12 LEI</h4>
                    <h4 class="text-muted menu-price">12 LEI</h4>
                    <h4 class="text-muted menu-price">15 LEI</h4>
                    <h4 class="text-muted menu-price">17 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">VODKA (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>ABSOLUT 40%</h4>
                    <h4>FINLANDIA 40%</h4>
                    <h4>RUSSIAN STANDARD 40%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">GIN (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>BEEFEATER 40%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">RUM (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>BACARDI 37,5%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">11 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">COGNACS & DIGESTIVES (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>BRANCOVEANU XO 40%</h4>
                    <h4>JIDVEI VIN ARS 42%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">15 LEI</h4>
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">APERITIVES & DIGESTIVES (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MARTINI BIANCO 15%</h4>
                    <h4>CAMPARI 25%</h4>
                    <h4>JAGERMEISTER 35%</h4>
                    <h4>PALINCA ZETEA 50%</h4>
                    <h4>TUICA ZETEA 50%</h4>
                    <h4>BAILEYS 17%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">8 LEI</h4>
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">13 LEI</h4>
                    <h4 class="text-muted menu-price">13 LEI</h4>
                    <h4 class="text-muted menu-price">11 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">LONG DRINKS & COCKTAILS</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">CAMPARI ORANGE (250 ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">20 LEI</h4>
                </div>
            </div>
            <p class="text-muted mb-4">campari, suc de portocale</p>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">GIN TONIC (250 ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">20 LEI</h4>
                </div>
            </div>
            <p class="text-muted mb-4">gin, apa tonica, lamaie</p>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">CUBA LIBRE (250 ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">20 LEI</h4>
                </div>
            </div>
            <p class="text-muted mb-4">rom, coca cola, lime</p>
            <div class="row align-items-start mb-4">
                <div class="col-8">
                    <h4 class="mb-0">MARTINI TONIC (250 ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">20 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start mb-4">
                <div class="col-8">
                    <h4 class="mb-0">HUGO (250 ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">20 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">APEROL SPRITZ (250 ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">20 LEI</h4>
                </div>
            </div>
            <p class="text-muted mb-4">aperol, apa minerala, prosecco</p>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">MOJITO (250 ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">20 LEI</h4>
                </div>
            </div>
            <p class="text-muted">rom, lime, zahar brun, frunza de menta, apa minerala</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">NON ALCOHOLIC COCKTAILS</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">GREEN APPLE (250 ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">15 LEI</h4>
                </div>
            </div>
            <p class="text-muted">suc de mere, zahar brun, lime</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">CHAMPAGNE & SPARKLING</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PROSECCO MONTELVINI 12%</h4>
                    <h4>MOET & CHANDON BRUT</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">70 LEI</h4>
                    <h4 class="text-muted menu-price">400 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">VINURI ALBE</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>GEM DIAMOND 12%</h4>
                    <h4>VERSANT CHARDONNAY 13,5%</h4>
                    <h4>PURCARI S.B. 12,5%</h4>
                    <h4>SAMBURESTI CHARDONNAY 13,5%</h4>
                    <h4>SOLE CHARDONNAY 13,5%</h4>
                    <h4>SOLO QUINTA 13,5%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">100 LEI</h4>
                    <h4 class="text-muted menu-price">70 LEI</h4>
                    <h4 class="text-muted menu-price">58 LEI</h4>
                    <h4 class="text-muted menu-price">45 LEI</h4>
                    <h4 class="text-muted menu-price">84 LEI</h4>
                    <h4 class="text-muted menu-price">140 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">VINURI ROZE</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>GEM DIAMOND 12%</h4>
                    <h4>SAINT LOUIS DE PROVENCE 12,5%</h4>
                    <h4>PURCARI 13%</h4>
                    <h4>SAMBURESTI ROSE 13%</h4>
                    <h4>SOLE ROSE 12%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">100 LEI</h4>
                    <h4 class="text-muted menu-price">70 LEI</h4>
                    <h4 class="text-muted menu-price">68 LEI</h4>
                    <h4 class="text-muted menu-price">45 LEI</h4>
                    <h4 class="text-muted menu-price">94 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">VINURI ROSII</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PURCARI CABERNET 13%</h4>
                    <h4>SAMBURESTI CABERNET 13%</h4>
                    <h4>CUVE UBERLAND 15%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">60 LEI</h4>
                    <h4 class="text-muted menu-price">47 LEI</h4>
                    <h4 class="text-muted menu-price">170 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">VINUL CASEI</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">VIN ALB</h4>
                    <h4 class="mb-0">VIN ROSE</h4>
                    <h4 class="mb-0">VIN ROSU</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">8 / 16 / 32 LEI</h4>
                    <h4 class="text-muted menu-price mb-0">8 / 16 / 32 LEI</h4>
                    <h4 class="text-muted menu-price mb-0">8 / 16 / 32 LEI</h4>
                </div>
            </div>
            <p class="text-muted">250ml. / 500ml. / 1000ml.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">CIDRU</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">STRONGBOW 4,5%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">10 LEI</h4>
                </div>
            </div>
            <p class="text-muted mb-4">gold apple, red berries, elderflower</p>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">OLD MOUT 4%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">12 LEI</h4>
                </div>
            </div>
            <p class="text-muted">kiwi & lime, summer berries, passion fruit & apple</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">BERE DRAUGHT</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>HEINEKEN (200ML.)</h4>
                    <h4>HEINEKEN (400ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">7 LEI</h4>
                    <h4 class="text-muted menu-price">8,5 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">BERE IMBUTELIATA</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>HEINEKEN (400ML.) 5%</h4>
                    <h4>CIUC PREMIUM (500ML.) 5%</h4>
                    <h4>CIUC IPA (500ML.) 5%</h4>
                    <h4>CIUC RADLER LEMON (500ML.) 1,9%</h4>
                    <h4>SILVA ORIGINAL (500ML.) 5,1%</h4>
                    <h4>SILVA "PALE ALE" (500ML.) 5,5%</h4>
                    <h4>SILVA STRONG DARK (500ML.) 7%</h4>
                    <h4>GAMBRINUS (400ML.) 5,5%</h4>
                    <h4>DESPERADOS (330ML.) 5,9%</h4>
                    <h4>AMSTEL (330ML.) 5%</h4>
                    <h4>EDELWEISS HEFE NEFILTRATA (500ML.) 5,5%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">9 LEI</h4>
                    <h4 class="text-muted menu-price">7 LEI</h4>
                    <h4 class="text-muted menu-price">7 LEI</h4>
                    <h4 class="text-muted menu-price">7 LEI</h4>
                    <h4 class="text-muted menu-price">8 LEI</h4>
                    <h4 class="text-muted menu-price">8 LEI</h4>
                    <h4 class="text-muted menu-price">8,5 LEI</h4>
                    <h4 class="text-muted menu-price">7,5 LEI</h4>
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">12 LEI</h4>
                    <h4 class="text-muted menu-price">18 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">BERE FARA ALCOOL</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>HEINEKEN (330ML.) 0%</h4>
                    <h4>CIUC RADLER (500ML.) 0%</h4>
                    <h4>CIUC ZMEURA SI LAMAIE (500ML.) 0%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">7,5 LEI</h4>
                    <h4 class="text-muted menu-price">7 LEI</h4>
                    <h4 class="text-muted menu-price">7 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">SOFT DRINKS</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>FRESH PORTOCALE / GRAPEFRUIT (250ML.)</h4>
                    <h4 class="mb-0">LIMONADA (500ml.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">13 LEI</h4>
                    <h4 class="text-muted menu-price mb-0">13 LEI</h4>
                </div>
            </div>
            <p class="text-muted mb-4">menta & miere</p>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">CITRONADA (250ml.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">13 LEI</h4>
                </div>
            </div>
            <p class="text-muted mb-4">portocala, lamaie, lime & miere</p>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>APA MINERALA / PLATA BUCOVINA (330ml.)</h4>
                    <h4>APA MINERALA / PLATA BUCOVINA (750ml.)</h4>
                    <h4>ENERGIZANT REDBULL (250ml.)</h4>
                    <h4>PEPSI (cola, twist, light, max), MIRINDA, 7UP (750ml.)</h4>
                    <h4>EVERVESS TONIC, BITTER LEMON (250ml.)</h4>
                    <h4 class="mb-0">LIPTON ICE TEA (250ml.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">5,5 LEI</h4>
                    <h4 class="text-muted menu-price">11 LEI</h4>
                    <h4 class="text-muted menu-price">12 LEI</h4>
                    <h4 class="text-muted menu-price">6 LEI</h4>
                    <h4 class="text-muted menu-price">6 LEI</h4>
                    <h4 class="text-muted menu-price mb-0">7 LEI</h4>
                </div>
            </div>
            <p class="text-muted mb-4">lamaie, piersica, green</p>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">PRIGAT NECTAR (250ml.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">7 LEI</h4>
                </div>
            </div>
            <p class="text-muted mb-4">portocale, piersici, capsuni & banane, mar</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">HOT DRINKS</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>ESPRESSSO (30ml. / 60ml.)</h4>
                    <h4>ESPRESSSO DECAFF (30ml. / 60ml.)</h4>
                    <h4>CAPPUCCINO / CAPPUCCINO DECAFF (120ml.)</h4>
                    <h4>CAFFE LATTE (240ml.)</h4>
                    <h4>FREDO (240ml.)</h4>
                    <h4>CAFFE FRAPPE (240ml.)</h4>
                    <h4>CIOCOLATA CALDA (120ml.)</h4>
                    <h4>CEAI (300ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">7,5 LEI</h4>
                    <h4 class="text-muted menu-price">8 LEI</h4>
                    <h4 class="text-muted menu-price">9 LEI</h4>
                    <h4 class="text-muted menu-price">13 LEI</h4>
                    <h4 class="text-muted menu-price">13 LEI</h4>
                    <h4 class="text-muted menu-price">17 LEI</h4>
                    <h4 class="text-muted menu-price">12 LEI</h4>
                    <h4 class="text-muted menu-price">11 LEI</h4>
                </div>
            </div>
        </div>
    </div>
</div>