<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Bauturi</h3>
    </div>
    {{ range .Site.Data.meniu.drinks.drinks }}
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">{{ .name }}</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    {{ range .items }}
                    <h4>{{ .name }}</h4>
                    {{ end }}
                </div>
                <div class="col-4">
                    {{ range .items }}
                    <h4 class="text-muted menu-price">{{ .price }} LEI</h4>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
