<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Bauturi</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">SINGLE MALT (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>GLENFIDDICH (12yo) 40%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">20 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">BLENDED (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CHIVAS REGAL (12yo) 40%</h4>
                    <h4>JOHNNIE WALKER RED LABEL 40%</h4>
                    <h4>JOHNNIE WALKER BLACK LABEL 40%</h4>
					<h4>JACK DANIEL'S 40%</h4>
					<h4>JAMESON 40%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">20 LEI</h4>
                    <h4 class="text-muted menu-price">13 LEI</h4>
                    <h4 class="text-muted menu-price">17 LEI</h4>
					<h4 class="text-muted menu-price">15 LEI</h4>
					<h4 class="text-muted menu-price">13 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">VODKA (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>ABSOLUT 40%</h4>
                    <h4>RUSSIAN STANDARD 40%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">GIN (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>BEEFEATER 40%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">RUM (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>BACARDI 37,5%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">12 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">COGNACS & DIGESTIVES (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>BRANCOVEANU XO 40%</h4>
                    <h4>JIDVEI VIN ARS 42%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">22 LEI</h4>
                    <h4 class="text-muted menu-price">13 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">APERITIVES & DIGESTIVES (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MARTINI BIANCO 15%</h4>
                    <h4>CAMPARI 25%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">12 LEI</h4>
                    <h4 class="text-muted menu-price">14 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">DISTILERIILE BRAN (40ML.)</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PALINCA PRUNE 50%</h4>
                    <h4>PALINCA GUTUI / CAISE 40%</h4>
                    <h4>RACHIU PRUNE 37,5%</h4>
                    <h4>AFINATA / CAISATA / VISINATA 30%</h4>
                    <h4>SAMARO (LICHIOR NUCI VERZI) 35%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">15 LEI</h4>
                    <h4 class="text-muted menu-price">19 LEI</h4>
                    <h4 class="text-muted menu-price">13 LEI</h4>
                    <h4 class="text-muted menu-price">13 LEI</h4>
                    <h4 class="text-muted menu-price">15 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">LONG DRINKS & COCKTAILS</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">JUNIPERUS BRAN & TONIC</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">24 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">CAISATA BRAN & TONIC</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">24 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">CAMPARI ORANGE</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">24 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">GIN TONIC</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">24 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">CUBA LIBRE</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">24 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">MARTINI TONIC</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">24 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">HUGO</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">24 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">APEROL SPRITZ</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">24 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">MOJITO</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">24 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">NON ALCOHOLIC COCKTAILS</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">GREEN APPLE</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">20 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">CHAMPAGNE & SPARKLING</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MOET & CHANDON BRUT</h4>
                    <h4>PROSECCO MONTELVINI 12%</h4>
                    <h4>PROSECCO MONTELVINI 12% - PAHAR (140ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">400 LEI</h4>
                    <h4 class="text-muted menu-price">80 LEI</h4>
                    <h4 class="text-muted menu-price">16 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">VINURI ALBE</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CAII DE LA LETEA VOLUMUL I SAUVIGNON BLANC 13%</h4>
                    <h4>CAII DE LA LETEA VOLUMUL I SAUVIGNON BLANC 13% - PAHAR (140ML.)</h4>
                    <h4>CAII DE LA LETEA VOLUMUL II ALIGOTE 13%</h4>
					<h4>PURCARI NOCTURNE CHARDONNAY 13,5%</h4>
					<h4>AVINCIS CRAMPOSIE SELECTIONAT 13%</h4>
                    <h4>NAVIGO CHARDONNAY 13%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">70 LEI</h4>
                    <h4 class="text-muted menu-price">14 LEI</h4>
                    <h4 class="text-muted menu-price">100 LEI</h4>
                    <h4 class="text-muted menu-price">80 LEI</h4>
                    <h4 class="text-muted menu-price">84 LEI</h4>
					<h4 class="text-muted menu-price">60 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">VINURI ROZE</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CAII DE LA LETEA VOLUMUL I MERLOT & SYRAH & PINOT NOIR 13,5%</h4>
                    <h4>CAII DE LA LETEA VOLUMUL I MERLOT & SYRAH & PINOT NOIR 13,5% - PAHAR (140ML.)</h4>
					<h4>CAII DE LA LETEA VOLUMUL II (F.N. & P.N & SYRAH C.S.) 13%</h4>
					<h4>AVINCIS CUVEE ALEXIS 13,5%</h4>
                    <h4>PURCARI NOCTURNE 13,5%</h4>
                    <h4>NAVIGO 13%</h4>
					<h4>MUSE NIGHT ROSE 11,5%</h4>
					<h4>MUSE DAY ROSE 11,5%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">70 LEI</h4>
                    <h4 class="text-muted menu-price">14 LEI</h4>
                    <h4 class="text-muted menu-price">100 LEI</h4>
                    <h4 class="text-muted menu-price">84 LEI</h4>
                    <h4 class="text-muted menu-price">80 LEI</h4>
					<h4 class="text-muted menu-price">60 LEI</h4>
					<h4 class="text-muted menu-price">115 LEI</h4>
					<h4 class="text-muted menu-price">115 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">VINURI ROSII</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CAII DE LA LETEA VOLUMUL I FETEASCA NEAGRA 13,5%</h4>
                    <h4>CAII DE LA LETEA VOLUMUL I FETEASCA NEAGRA 13,5% - PAHAR (140ML.)</h4>
                    <h4>CAII DE LA LETEA VOLUMUL II C.S. & F.N. 13,5%</h4>
                    <h4>PURCARI NOCTURNE RARA NEAGRA 13%</h4>
                    <h4>NAVIGO SHIRAZ 13%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">70 LEI</h4>
                    <h4 class="text-muted menu-price">14 LEI</h4>
                    <h4 class="text-muted menu-price">100 LEI</h4>
                    <h4 class="text-muted menu-price">80 LEI</h4>
                    <h4 class="text-muted menu-price">60 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">VIN CERVUS CEPTURUM 750ML.</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">SAUVIGNON BLANC 13%</h4>
                    <h4 class="mb-0">ROSE 12,5%</h4>
					<h4 class="mb-0">FETEASCA NEAGRA & MERLOT 13,5%</h4>
					<h4 class="mb-0">PACHET VIN SI APA</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">35 LEI</h4>
                    <h4 class="text-muted menu-price mb-0">35 LEI</h4>
					<h4 class="text-muted menu-price mb-0">35 LEI</h4>
					<h4 class="text-muted menu-price mb-0">45 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">CIDRU</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">STRONGBOW 4,5%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">10 LEI</h4>
                </div>
            </div>
            <p class="text-muted mb-4">gold apple, red berries, DARK FRUITS</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">BERE DRAUGHT</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>HEINEKEN 5% (250ML.)</h4>
                    <h4>HEINEKEN 5% (400ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">8,5 LEI</h4>
                    <h4 class="text-muted menu-price">11 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">BERE IMBUTELIATA</h3>
            <div class="row align-items-start">
                <div class="col-8">
					<h4>HEINEKEN SILVER (400ML.) 4%</h4>
					<h4>HEINEKEN (400ML.) 5%</h4>
                    <h4>CIUC PREMIUM (500ML.) 5%</h4>
                    <h4>CIUC RADLER LEMON (500ML.) 1,9%</h4>
                    <h4>SILVA ORIGINAL (500ML.) 5,2%</h4>
                    <h4>SILVA STRONG DARK (500ML.) 7%</h4>
                    <h4>BIRRA MORETTI (500ML.) 4,6%</h4>
                    <h4>DESPERADOS (400ML.) 5,9%</h4>
                    <h4>EDELWEISS HEFFE NEFILTRATA (500ML.) 5,3%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">8 LEI</h4>
                    <h4 class="text-muted menu-price">8 LEI</h4>
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">8 LEI</h4>
                    <h4 class="text-muted menu-price">11 LEI</h4>
                    <h4 class="text-muted menu-price">20 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">BERE FARA ALCOOL</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>HEINEKEN (330ML.) 0%</h4>
					<h4>BIRRA (330ML.) 0%</h4>
					<h4>CIUC RADLER (500ML.) 0%</h4>
                    <h4>CIUC ZMEURA SI LAMAIE (500ML.) 0%</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
					<h4 class="text-muted menu-price">8 LEI</h4>
					<h4 class="text-muted menu-price">8 LEI</h4>
                    <h4 class="text-muted menu-price">8 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">SOFT DRINKS</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">FRESH PORTOCALE / GRAPEFRUIT (250ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">18 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">LIMONADA CU MENTA SI MIERE (500ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">18 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">FROZEN LEMONADE (500ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">18 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">CITRONADA CU PORTOCALE, LAMAIE, LIME SI MIERE (250ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">18 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">APA MINERALA / PLATA BUCOVINA (330ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">7 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">APA MINERALA / PLATA BUCOVINA (750ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">13 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">PEPSI COLA, MAX, TWIST, MIRINDA, 7UP, EVERVESS TONIC, M.D. (250ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">7 LEI</h4>
                </div>
            </div>
			<div class="row align-items-start">
				<div class="col-8">
					<h4 class="mb-0">PEPSI COLA VINTAGE (250ML.)</h4>
				</div>
				<div class="col-4">
					<h4 class="text-muted menu-price mb-0">8 LEI</h4>
				</div>
			</div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">LIPTON ICE TEA (LAMAIE, PIERSICA, GREEN) (250ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">8 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">PRIGAT NECTAR (PORTOCALE, PIERSICI, CAPSUNA-BANANA, KIWI, PERE) (250ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">8 LEI</h4>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4 class="mb-0">ENERGIZANT ROCKSTAR (250ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price mb-0">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <h3 class="mb-3">HOT DRINKS</h3>
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>ESPRESSSO (30ml. / 60ml.)</h4>
                    <h4>ESPRESSSO DECAFF (30ml. / 60ml.)</h4>
                    <h4>CAPPUCCINO / CAPPUCCINO DECAFF (120ml.)</h4>
                    <h4>CAFFE LATTE (240ml.)</h4>
                    <h4>FREDO (240ml.)</h4>
                    <h4>CAFFE FRAPPE (240ml.)</h4>
                    <h4>CIOCOLATA CALDA (120ml.)</h4>
                    <h4>CEAI (300ML.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">10 LEI</h4>
                    <h4 class="text-muted menu-price">15 LEI</h4>
                    <h4 class="text-muted menu-price">15 LEI</h4>
                    <h4 class="text-muted menu-price">15 LEI</h4>
                    <h4 class="text-muted menu-price">20 LEI</h4>
                    <h4 class="text-muted menu-price">15 LEI</h4>
                    <h4 class="text-muted menu-price">15 LEI</h4>
                </div>
            </div>
        </div>
    </div>
</div>
