<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Garnituri</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CHIFLA (50GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">1 LEU</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE VARZA PROASPATA (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">5,5 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE CASTRAVETI PROASPETI (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">6 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA ASORTATA DE VARA (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA VERDE CU LAMAIE (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE ROSII CU TELEMEA (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">8 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE SFECLA CU HREAN (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">7 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CU ARDEI COPTI (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE MURATURI (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">7 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE VARZA MURATA (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">7 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>LEGUME LA GRATAR (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">13 LEI</h4>
                </div>
            </div>
            <p>vinete, dovlecei, ardei gras, rosii, ciuperci, ceapa rosie</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CARTOFI BUNICA (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">16 LEI</h4>
                </div>
            </div>
            <p>cartofi, oua, telemea de vaca</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CARTOFI LA SENNA (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">12 LEI</h4>
                </div>
            </div>
            <p>cartofi, boia, usturoi, marar</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CARTOFI PRAJITI (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">8 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PIURE DE CARTOFI (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">9 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PIURE DE BROCCOLI (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">15 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PIURE DE CARTOFI CU TRUFE (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">18 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CIUPERCI LA GRATAR CU UNT SI VERDEATA (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">12 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SPARANGHEL LA GRATAR CU SOS AROMAT (150GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">16 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>OREZ SALBATIC TRAS IN UNT (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">12 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SPANAC (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">12 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MAMALIGA (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">5 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MAMALIGA PICANTA (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
            <p>ardei iute, chimen</p>
        </div>
    </div>
</div>