<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Garnituri</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE VARZA PROASPATA (150GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">7 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE CASTRAVETI PROASPETI (150GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">7 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA ASORTATA DE VARA (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">15 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA VERDE CU LAMAIE (150GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE ROSII CU TELEMEA (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE SFECLA CU HREAN (150GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE ARDEI COPTI (150GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">12 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE MURATURI (150GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA DE VARZA MURATA (150GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
                <p class="text-muted">disponibila in sezon</p>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>LEGUME LA GRATAR (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">15 LEI</h4>
                </div>
                <p>vinete, dovlecei, ardei california, rosii cherry, ciuperci</p>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CARTOFI BUNICA (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">18 LEI</h4>
                </div>
            </div>
            <p>cartofi, oua, telemea de vaca</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CARTOFI LA SENNA (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">13 LEI</h4>
                </div>
            </div>
            <p>cartofi, boia, usturoi, marar</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CARTOFI PRAJITI (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PIURE DE CARTOFI (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">10 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PIURE LA SENNA (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">18 LEI</h4>
                </div>
                <p>crunch de bacon, parmesan, patrunjel</p>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PIURE DE CARTOFI CU TRUFE (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">18 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CIUPERCI LA GRATAR (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">15 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SPARANGHEL LA GRATAR (150GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">19 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>OREZ SALBATIC TRAS IN UNT (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">15 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SPANAC (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">15 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MAMALIGA (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">5 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CHIFLA</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">2 LEI / BUCATA</h4>
                </div>
            </div>
        </div>
    </div>
</div>
