<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Pasare</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>TAJIN DE PUI (400GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">35 LEI</h4>
                </div>
            </div>
            <p>piept de pui aromatizat, couscous</p>
            <p class="text-muted">200gr. / 200gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PIEPT DE CURCAN LA GRATAR (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">27 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>TIGAIE PICANTA DE PUI CU PIURE DE CARTOFI (560GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">29 LEI</h4>
                </div>
            </div>
            <p>piept de pui, ardei iute, usturoi, pasta de tomate, piure de cartofi</p>
            <p class="text-muted">200gr. / 160gr. / 200gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SNITEL CROCANT DIN PIEPT DE CURCAN CU SOS DE SMANTANA AROMAT (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">28 LEI</h4>
                </div>
            </div>
            <p class="text-muted">200gr. / 100gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PUISOR LA CEAUN CU CARTOFI WEDGES SI SOS TZATZIKI (750GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">45 LEI</h4>
                </div>
            </div>
            <p class="text-muted">500gr. / 150gr. / 100gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>RULADA DE PUI LA SENNA (550GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">29 LEI</h4>
                </div>
            </div>
            <p>piept de pui, bacon, cascaval, ardei gras, salata verde</p>
            <p class="text-muted">250gr. / 50gr. / 250gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PIEPT DE PUI IN CRUSTA DE IERBURI AROMATICE CU BROCCOLI SI SOS GORGONZOLA (500GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">35 LEI</h4>
                </div>
            </div>
            <p>piept de pui, broccoli, sos gorgonzola, crusta de ierburi</p>
            <p class="text-muted">200gr. / 200gr. / 50gr. / 50gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SNITEL CROCANT DE PUI IN FULGI DE PORUMB CU SOS DE SMANTANA AROMAT/PESMET (350GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">25 LEI</h4>
                </div>
            </div>
            <p>piept de pui, ou, pesmet, fulgi de porumb, smantana panna</p>
            <p class="text-muted">250gr. / 100gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PIEPT DE PUI LA GRATAR (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">18 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SNITEL PANE DIN PIEPT DE PUI (230GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">21 LEI</h4>
                </div>
            </div>
            <p class="text-muted">170gr. / 50gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>FICATEI DE PUI LA TIGAIE CU PIURE DE CARTOFI (450GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">20 LEI</h4>
                </div>
            </div>
            <p class="text-muted">200gr. / 200gr. / 50gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PULPE DE PUI DEZOSATE LA GRATAR (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">18 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>RATA PE VARZA (500GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">35 LEI</h4>
                </div>
            </div>
            <p>pulpa de rata, varza calita</p>
            <p class="text-muted">200gr. / 300gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PICIOR DE RATA CONFIATA CU FASOLE VERDE SI PERSILAD (500GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">38 LEI</h4>
                </div>
            </div>
            <p class="text-muted">300gr. / 200gr.</p>
        </div>
    </div>
</div>