<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Pasare</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PUI LA SENNA (400GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">42 LEI</h4>
                </div>
            </div>
            <p>piept de pui, panko, mozzarella, parmezan, busuioc, sos rosii, salsa de rosii</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PUISOR LA CEAUN CU PIURE LA SENNA SI TZATZIKI (750GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">49 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SNITEL CROCANT DIN PIEPT DE CURCAN CU SOS AROMAT (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">32 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SNITEL PANE DE CURCAN (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">30 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PIEPT DE CURCAN LA GRATAR (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">30 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PIEPT DE PUI LA GRATAR (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">20 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SNITEL CROCANT DE PUI (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">29 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SNITEL PANE DE PUI (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">25 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PULPE DE PUI DEZOSATE LA GRATAR (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">20 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>TIGAIE DE PUI CU PIURE LA SENNA (500GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">32 LEI</h4>
                </div>
            </div>
            <p>piept de pui, ardei california, usturoi, ardei iute, sos de rosii</p>
        </div>
    </div>
</div>
