<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Paste</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SPAGHETE LA SENNA (350GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">30 LEI</h4>
                </div>
            </div>
            <p>spaghetti, muschi de vita, parmezan</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SPAGHETTE CARBONARA (350GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">26 LEI</h4>
                </div>
            </div>
            <p>spaghetti, ou, bacon, piper, parmezan, smantana panna</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PENNE AL FORNO GRATINATE CU PIEPT DE PUI (480GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">28 LEI</h4>
                </div>
            </div>
            <p>penne, piept de pui, ciuperci, sos de rosii, mozarella, ardei iute, smantana panna</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>TAGLIATELE CU SOMON (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">29 LEI</h4>
                </div>
            </div>
            <p>tagliatele, sos roze, somon</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PENNE QUATRO FORMAGI (350GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">26 LEI</h4>
                </div>
            </div>
            <p>pene, gorgonzola, branza, mozarella, parmezan</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SPAGHETTE CU CREVETI (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">30 LEI</h4>
                </div>
            </div>
            <p>spaghetti, creveti, sos de vin, dovlecei</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PENNE PRIMAVERA (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">26 LEI</h4>
                </div>
            </div>
            <p>penne, legume</p>
        </div>
    </div>
</div>