<div class="testi-item">
	<div class="heading-menu">
		<h3 class="text-center mb-5">Paste</h3>
	</div>

	<div class="menus d-flex align-items-center">
		<div class="text-wrap">
			<div class="row align-items-start">
				<div class="col-8">
					<h4>TAGLIOLINI CU FRUCTE DE MARE (300GR.)</h4>
				</div>

				<div class="col-4">
					<h4 class="text-muted menu-price">40 LEI</h4>
				</div>
			</div>

			<p>tagliolini, midii, calamari, creveti, apio, usturoi, rosii cherry, sos de rosii</p>
		</div>
	</div>

	<div class="menus d-flex align-items-center">
		<div class="text-wrap">
			<div class="row align-items-start">
				<div class="col-8">
					<h4>RAVIOLI, GAMBERI &amp; ZUCHINI (300GR.)</h4>
				</div>

				<div class="col-4">
					<h4 class="text-muted menu-price">40 LEI</h4>
				</div>
			</div>

			<p>ravioli cu ricota, creveti, dovlecei, usturoi, pepperoncino, unt, patrunjel, rosii cherry, apio, vin alb</p>
		</div>
	</div>

	<div class="menus d-flex align-items-center">
		<div class="text-wrap">
			<div class="row align-items-start">
				<div class="col-8">
					<h4>FETUCINI CU SOMON (300GR.)</h4>
				</div>

				<div class="col-4">
					<h4 class="text-muted menu-price">40 LEI</h4>
				</div>
			</div>

			<p>fetucini, somon, fenicul, usturoi, capere, marar, zeama de lamaie, icre de somon</p>
		</div>
	</div>

	<div class="menus d-flex align-items-center">
		<div class="text-wrap">
			<div class="row align-items-start">
				<div class="col-8">
					<h4>PENNE CU RAGU SI RICOTTA (300GR.)</h4>
				</div>

				<div class="col-4">
					<h4 class="text-muted menu-price">39 LEI</h4>
				</div>
			</div>

			<p>penne, sos ragu, crema ricotta, parmezan, sos pesto</p>
		</div>
	</div>

	<div class="menus d-flex align-items-center">
		<div class="text-wrap">
			<div class="row align-items-start">
				<div class="col-8">
					<h4>FETTUCCINE CU PUI SI GORGONZOLA (300GR.)</h4>
				</div>

				<div class="col-4">
					<h4 class="text-muted menu-price">36 LEI</h4>
				</div>
			</div>

			<p>fettuccine, piept de pui, ciuperci, pecorino, unt, gorgonzola</p>
		</div>
	</div>

	<div class="menus d-flex align-items-center">
		<div class="text-wrap">
			<div class="row align-items-start">
				<div class="col-8">
					<h4>TAGLIOLINI CARBONARA (300GR.)</h4>
				</div>

				<div class="col-4">
					<h4 class="text-muted menu-price">36 LEI</h4>
				</div>
			</div>

			<p>tagliolini, goanceale, lardo, ou, cucina, pecorino, parmezan, piper fresh</p>
		</div>
	</div>

	<div class="menus d-flex align-items-center">
		<div class="text-wrap">
			<div class="row align-items-start">
				<div class="col-8">
					<h4>PENNE BASILICO SI MOZZARELLA BUFALA (300GR.)</h4>
				</div>

				<div class="col-4">
					<h4 class="text-muted menu-price">36 LEI</h4>
				</div>
			</div>

			<p>penne, sos de rosii, busuioc, mozzarella bufala, parmesan</p>
		</div>
	</div>

	<div class="menus d-flex align-items-center">
		<div class="text-wrap">
			<div class="row align-items-start">
				<div class="col-8">
					<h4>PENNE ARRABIATA (300GR.)</h4>
				</div>

				<div class="col-4">
					<h4 class="text-muted menu-price">32 LEI</h4>
				</div>
			</div>

			<p>penne, usturoi, ardei iute, busuioc, sos de rosii, parmezan</p>
		</div>
	</div>

	<div class="menus d-flex align-items-center">
		<div class="text-wrap">
			<div class="row align-items-start">
				<div class="col-8">
					<h4>PENNE POMODORO FRESCO (300GR.)</h4>
				</div>

				<div class="col-4">
					<h4 class="text-muted menu-price">32 LEI</h4>
				</div>
			</div>

			<p>penne, usturoi, busuioc, sos de rosii, rosii cherry</p>
		</div>
	</div>

	<div class="menus d-flex align-items-center">
		<div class="text-wrap">
			<div class="row align-items-start">
				<div class="col-8">
					<h4>FETTUCCINE QUATRO FORMAGI (300GR.)</h4>
				</div>

				<div class="col-4">
					<h4 class="text-muted menu-price">36 LEI</h4>
				</div>
			</div>

			<p>fettuccine, gorgonzola, brie, parmezan, cucina, unt, mozzarrela</p>
		</div>
	</div>
</div>
