<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Peste</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>TON IN CRUSTA DE SUSAN NEGRU CU CIUPERCI SHIITAKE SI ICRE TOBIKO (350GR.)</h4>
                </div>
                <div class="col-4">
                    <h5 class="text-muted menu-price">75 LEI</h5>
                </div>
            </div>
            <p>ton rosu, ciuperci shiitake, icre tobiko, sparanghel, susan</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>TON LA GRATAR CU SOS DE LAMAIE (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">50 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>FILE LUP DE MARE CU SALSA MAROCANA (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">48 LEI</h4>
                </div>
            </div>
            <p>ardei california, rodii, ceapa rosie, lamaie, patrunjel, castravete verde</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SOMON LA GRATAR (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">40 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SOMON IN CRUSTA DE CAJU CU SPARANGHEL (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">50 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SOMON CU MUSTAR DIJON, MIERE SI LEGUME SOTE (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">50 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>PLATOU MIX FRUCTE DE MARE (600GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">65 LEI</h4>
                </div>
                <p>creveti, inele si tentacule de calamari, carne de midii, hamsii, masline pane, dovlecei pane, sos tartar</p>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>DORADA REGALA LA GRATAR (100GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">13 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SARAMURA DE CRAP CU MAMALIGA (800GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">50 LEI</h4>
                </div>
            </div>
        </div>
    </div>
</div>
