<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Salate Aperitiv</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CU CREVETI (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">30 LEI</h4>
                </div>
            </div>
            <p>mix de salata, ardei gras, rosii cherry, creveti, sos stridii, lamaie, dressing philadelphia</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA LA SENNA (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">28 LEI</h4>
                </div>
            </div>
            <p>valeriana, rucola, guacamole, prosciutto crudo, rosii cherry, dressing philadelphia</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CU SOMON FUME (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">25 LEI</h4>
                </div>
            </div>
            <p>mix de salata, somon fume, capere, crutoane aromatice, rosii cherry, ceapa rosie, dressing de lamaie si ulei de masline</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CU PIEPT DE CURCAN (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">24 LEI</h4>
                </div>
            </div>
            <p>mix de salata, morcov, telina, ardei gras rosu, sos de mustar, piept de curcan, crutoane aromatice, dressing de lamaie si ulei de masline</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CU MUSCHI DE VITA SI SOS GORGONZOLA (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">35 LEI</h4>
                </div>
            </div>
            <p>mix de salata, sos gorgonzola, muschi de vita, cartofi prajiti, crutoane aromatice, dressing de lamaie si ulei de masline</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA CESAR (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">24 LEI</h4>
                </div>
            </div>
            <p>mix de salata, piept de pui la gratar, anchoa, dressing de maioneza, parmezan si usturoi, crutoane aromatice, dressing si ulei de masline</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA GRECEASCA (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">24 LEI</h4>
                </div>
            </div>
            <p>mix de salata, castraveti, rosii, ardei gras, branza feta, masline, crutoane aromatice, dressing de lamaie si ulei de masline</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SALATA VEGETARIANA (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">22 LEI</h4>
                </div>
            </div>
            <p>mix de salata, vanata, dovlecei, ardei gras, ciuperci, rosii cherry</p>
        </div>
    </div>
</div>