<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Produse Lacto-Vegetariene</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CASCAVAL PANE (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">15 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MAMALIGA CU BRANZA SI SMANTANA (450GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">14 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SPANAC CU OU OCHI (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">14 LEI</h4>
                </div>
            </div>
        </div>
    </div>
</div>