<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Vita</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>BURGINION DE VITA (500GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">50 LEI</h4>
                </div>
            </div>
            <p class="text-muted">250gr. / 150gr. / 100gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>FETINA DI FILETTO (400GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">60 LEI</h4>
                </div>
            </div>
            <p>muschi de vita, sparanghel, salata valeriana, sos cimiciuri</p>
            <p class="text-muted">200gr. / 100gr. / 30gr. / 70gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>T-BONE STEAK CU SOS DE CIUPERCI PROVENSALE (550GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">95 LEI</h4>
                </div>
            </div>
            <p class="text-muted">400gr. / 150gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>ANTRICOT DE VITEL (600GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">59 LEI</h4>
                </div>
            </div>
            <p>antricot de vitel, mix de salata, salsa de ardei iute, aceto balsamico, cartofi pai</p>
            <p class="text-muted">400gr. / 100gr. / 100gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MUSCHI DE VITA LA GRATAR (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">50 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SNITEL VIENEZ (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">50 LEI</h4>
                </div>
            </div>
            <p class="text-muted">150gr. / 100gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>HAMBURGER DE VITA LA SENNA (500GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">28 LEI</h4>
                </div>
            </div>
            <p>vrabioara de vita, valeriana, ardei gras, branza cedar, inele de ceapa, crunch de bacon, dulceata de ceapa, cartofi prajiti</p>
            <p class="text-muted">180gr. / 320gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>HAMBURGER DE VITA FRESH (500GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">28 LEI</h4>
                </div>
            </div>
            <p>vrabioara de vita, legume fresh, branza cedar, valeriana, cartofi prajiti</p>
            <p class="text-muted">180gr. / 320gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>BIFTEC (300GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">50 LEI</h4>
                </div>
            </div>
            <p class="text-muted">200gr. / 100gr.</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>CLATITA CU VITA PICANTA (500GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">32 LEI</h4>
                </div>
            </div>
            <p class="text-muted">100gr. / 400gr.</p>
        </div>
    </div>
</div>