<div class="testi-item">
    <div class="heading-menu">
        <h3 class="text-center mb-5">Vita</h3>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SURF & TURF (500GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">95 LEI</h4>
                </div>
            </div>
            <p>muschi de vita, creveti, sparanghel, scoici Saint Jacques, unt</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MUSCHI DE VITA CU SPARANGHEL SI SOS TARTUFO (350GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">70 LEI</h4>
                </div>
            </div>
            <p>muschi de vita, sparanghel, unt, ulei de trufe, piure de trufe</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>ANTRICOT DE VITEL MATURAT (650GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">90 LEI</h4>
                </div>
            </div>
            <p>antricot de vitel, mix de salata, salsa de ardei iute, aceto balsamico, cartofi prajiti</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>FETINA DI FILETTO (400GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">65 LEI</h4>
                </div>
            </div>
            <p>muschi de vita, sparanghel, mix salata, sos cimiciuri</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>MUSCHI DE VITA LA GRATAR (200GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">55 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>SNITEL VIENEZ (250GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">55 LEI</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>TIGAIE DE VITA PICANTA CU LEGUME SI PIURE LA SENNA (450GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">45 LEI</h4>
                </div>
            </div>
            <p>muschi de vita, ardei california, ciuperci, ardei iute, usturoi, cartofi piure</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>HAMBURGER DE VITA LA SENNA (500GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">32 LEI</h4>
                </div>
            </div>
            <p>vrabioara de vita, valeriana, ardei gras, branza cedar, inele de ceapa, crunch de bacon, dulceata de ceapa, cartofi prajiti</p>
        </div>
    </div>
    <div class="menus d-flex align-items-center">
        <div class="text-wrap">
            <div class="row align-items-start">
                <div class="col-8">
                    <h4>HAMBURGER DE VITA FRESH (500GR.)</h4>
                </div>
                <div class="col-4">
                    <h4 class="text-muted menu-price">32 LEI</h4>
                </div>
            </div>
            <p>vrabioara de vita, legume fresh, branza cedar, valeriana, cartofi prajiti</p>
        </div>
    </div>
</div>
