<!-- Special Dishes Section -->
<section id="gtco-special-dishes" class="bg-grey section-padding">
    <div class="container">
        <div class="section-content">
            <div class="heading-section text-center">
                <h6>
                    {{ dateFormat "2.1.2006" now }}
                </h6>
                <h2>
                    Meniul Zilei
                </h2>
                <span class="subheading">
                    {{ .Site.Data.meniu.zilnic.pret }} RON
                </span>
            </div>
            {{ range $index, $element := (index .Site.Data.meniu.zilnic "feluri-de-mancare") }}
                <div class="row mt-5">
                    <div class="col-lg-5 col-md-6 align-self-center py-5 order-1">
                        <h2 class="special-number">0{{add $index 1}}.</h2>
                        <div class="dishes-text">
                            <h3><span>{{ . }}</span></h3>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0 order-{{ $index }}">
                        <img src='{{ "img/steak.jpg" | absURL }}' alt="" class="img-fluid shadow w-50">
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- End of Special Dishes Section -->